footer.col-12.p0
    .container
        .row
            .col-md-5.col-lg-5.col-12
                .footer-info
                    h5  Worldwide Dental & Cosmetic Surgery Hospital
                    p ĐC: 244a CỐNG QUỲNH , QUẬN 1, TP.HỒ CHÍ MINH
                    p ĐT: 1800 823 058
            .col-md-7.col-lg-7.col-12
                nav.footer-menu
                    ul
                        li
                            a(href="#") NÂNG NGỰC 6.0
                        li
                            a(href="#") CHƯƠNG TRÌNH KHUYỄN MÃI
                        li
                            a(href="#") HÌNH ẢNH KHÁCH HÀNG
                        li
                            a(href="#") CƠ SỞ HẠ TẦNG
    .coppyright
        .footer-coppy
            span Copyright© 2018 Dental Website. All Rights Reserved.