header
    .container
        .row
            .logo
                a(href="#")
                    img(src="./assets/images/logo.png", alt="")
            nav.main-menu
                ul
                    li
                        a(href="#") NÂNG NGỰC 6.0
                    li
                        a(href="#") CHƯƠNG TRÌNH KHUYỄN MÃI
                    li
                        a(href="#") HÌNH ÀNH KHÁCH HÀNG
                    li
                        a(href="#") CƠ SỞ HẠ TẦNG
            .hamberger-menu
                    .bar
                    .bar
                    .bar
            nav.mobile-menu
                ul
                    li
                        a(href="#") NÂNG NGỰC 6.0
                    li
                        a(href="#") CHƯƠNG TRÌNH KHUYỄN MÃI
                    li
                        a(href="#") HÌNH ÀNH KHÁCH HÀNG
                    li
                        a(href="#") CƠ SỞ HẠ TẦNG