section#i-4.i-4.m100
    .container
        .row
            .title-section
                h1 HÌNH ẢNH KHÁCH HÀNG
            .text-line
                p WORLDWIDE HOSPITAL
        .row
            .sec-slide.col-lg-10.mt-5.mb-100
                .swiper-container.mb-3
                    .swiper-wrapper
                        .swiper-slide
                            img(src="./assets/images/i-4/slide-01.png" alt="")
                            .text-slide
                                p BEFORE
                                P AFTER
                        .swiper-slide
                            img(src="./assets/images/i-4/slide-01.png" alt="")
                            .text-slide
                                p BEFORE
                                P AFTER
                        .swiper-slide
                            img(src="./assets/images/i-4/slide-01.png" alt="")
                            .text-slide
                                p BEFORE
                                P AFTER
                .swiper-button-next
                .swiper-button-prev
                .sec-text
                    p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
