section.banner
    .container-fluid
        .row
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .text-slide
                            h1 Đại Tiệc
                            h2 LÀM ĐẸP
                            h3 NÂNG NGỰC 6.0 LÀ GÌ?
                            ul.list-item
                                li Không Mặc Áo Định Hình 
                                li Không Ống Dẫn Lưu                                   
                                li Không Cần Massage                                   
                                li Không Cần Áo Ngực                                   
                                li Không Chạm Vào Túi Ngực                                   
                                li Từ Ngày 1.12 - 31.12                                  
                        img(src="./assets/images/banner/banner-01.png", alt="")
                    .swiper-slide
                        .text-slide
                            h1 Đại Tiệc
                            h2 LÀM ĐẸP
                            h3 NÂNG NGỰC 6.0 LÀ GÌ?
                            ul.list-item
                                li Không Mặc Áo Định Hình 
                                li Không Ống Dẫn Lưu                                   
                                li Không Cần Massage                                   
                                li Không Cần Áo Ngực                                   
                                li Không Chạm Vào Túi Ngực                                   
                                li Từ Ngày 1.12 - 31.12
                        img(src="./assets/images/banner/banner-02.jpg", alt="")
            .container
                form(action="", method="post")
                    .form-group
                        input(type="text" placeholder="Tên*")
                        input(type="text" placeholder="Số điện thoại*")
                        input(type="email" placeholder="Email*")
                        button.btn-new(type="submit") NHẬN ƯU ĐÃI NGAY
