section.banner.col-12.p0
    .container-fluid
        .row
            .swiper-container.col-12.p0
                .swiper-wrapper
                    .swiper-slide                                
                        img(src="./assets/images/banner/banner-01.png", alt="")
                    .swiper-slide
                        img(src="./assets/images/banner/banner-02.png", alt="")
        .container
            .row
                form(action="", method="post")
                    .form-group.col-12
                        input(type="text" placeholder="Tên*")
                        input(type="text" placeholder="Số điện thoại*")
                        input(type="email" placeholder="Email*")
                        button.btn-new(type="submit") NHẬN ƯU ĐÃI NGAY
