.i-2{
    float: left;
    width: 100%;
    position: relative;
    .promotion-list{
        float: left;
        width: 100%;
        position: relative;
        .list-item{
            position: relative;
            padding: 1%;
            width: 100%;
            margin-left: auto;
            .item-img{
                width: 360px;
                height: 360px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    &:hover{
                        -webkit-transform: scale(1.1);
	                    transform: scale(1.1);
                    }
                }
            }
            .text-item{
                padding: 2%;
                width: 100%;
                text-align: center;
                p{
                    font-size: 16px;
                    color: $main_color;
                    font-weight: 400;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    @media (min-width: 320px) and (max-width: 768px) {
        .i-2{
            width: 100%;
            .promotion-list{
                .list-item{
                    width: 100%;
                    padding: 0;
                    .item-img{
                        width: 100%;
                        height: 360px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .text-item{
                        padding: 2% 0;
                        width: 100%;
                        text-align: center;
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}