.i-3{
    position: relative;
    float: left;
    width: 100%;
    height: 600px;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/i-3/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        align-items: center;
    }
    .bg-txt{
        position: absolute;
        width: 100%;
        height: 80%;
        top: 10%;
        left: 17%;
        border-radius: 0 30px 0 30px;
        border: 10px solid rgba($color: #8A0D72, $alpha: .2);
        .bg-img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 0 20px 0 20px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
            .text{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                text-align: center;
                padding: 3%;
                h2{
                    font-size: 24px;
                    color: $while;
                    font-weight: 500;
                }
                hr{
                    width: 80%;
                    clear: both;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 16px;
                    color: $while;
                    font-weight: 400;
                }
            }
            form{
                position: absolute;
                top: 43%;
                left: 25%;
                padding: 1%;
                width: 50%;
                text-align: center;
                input{
                    width: 100%;
                    padding: 1%;
                    border: none;
                    border-bottom: solid 2px $while;
                    background: none;
                    font-size: 16px;
                    color: $while;
                    margin-bottom: 20px;
                    &::placeholder {
                        color: $while;
                    }
                }
                .btn {
                    padding: 2%;
                    border: none;
                    background-color: $main_color;
                    color: $main_color2;
                    font-size: 16px;
                    font-weight: 700;
                    width: 200px;
                    height: 50px;
                    border-radius: 0 10px 0 10px;
                    transition: .5s all ease-in-out;
                    &:hover {
                        background-color: $main_color2;
                        color: $main_color;
                        font-size: 16px;
                        font-weight: 700;
                        border-radius: 10px 0 10px 0;
                    }
                }
            }
        }
    }
}
