section#i-2.i-2.m100
    .container
        .row
            .title-section
                h1 CHƯƠNG TRÌNH KHUYẾN MÃI
            .text-line
                p WORLDWIDE HOSPITAL
            .promotion-list.mt-5
                .row
                    .col-md-4
                        .list-item
                            .item-img
                                img(src="./assets/images/promotion/promotion-01.png" alt="")
                            .text-item.mt-2
                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean commodo ligula eget dolor.
                    .col-md-4
                        .list-item
                            .item-img
                                img(src="./assets/images/promotion/promotion-02.png" alt="")
                            .text-item.mt-2
                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean commodo ligula eget dolor.
                    .col-md-4
                        .list-item
                            .item-img
                                img(src="./assets/images/promotion/promotion-03.png" alt="")
                            .text-item.mt-2
                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean commodo ligula eget dolor.
                    