section.i-3.mt-5.col-12
    .container-fluid
        .row
            .bg-txt
                .bg-img.p0
                    img(src="./assets/images/i-3/bg-text.png")
                    .text
                        h2 NHẬN NGAY ƯU ĐÃI ĐẶC BIỆT
                            br 
                            |CHỈ TRONG THÁNG 12
                        hr
                        p Để được hỗ trợ MIỄN PHÍ và NHANH NHẤT, Quý khách hãy cung cấp 
                            br
                            |thông tin bên dưới. WORLDWIDE cam kết mọi thông tin là bảo mật.
                    form
                        .form-group
                            input#name(type="text" placeholder="Tên*")
                            br
                            input#phone(type="text" placeholder="Số điện thoại*")
                            br
                            input#email(type="text" placeholder="Email*").mb-3
                            br
                            button.btn() NHẬN ƯU ĐÃI NGAY