#gotoTop{
    position: fixed;
    bottom: 28%;
    right: 3px;
    z-index: 1000;
    width: 95px;
    height: 95px;
    display: none;
    cursor: pointer;
    border-radius: 30px;
    img{
        width: 100%;
        height: 100%;
    }
}
#face-buttom{
    position: fixed;
    top: 85%;
    right: 3px;
    z-index: 1000;
    width: 95px;
    height: 95px;
    cursor: pointer;
    border-radius: 30px;
    img{
        width: 100%;
        height: 100%;
    }
}
#hot-line{
    position: fixed;
    bottom: 50%;
    right: 3px;
    z-index: 9;
    width: 95px;
    height: 95px;
    cursor: pointer;
    border-radius: 30px;
    img{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 768px) {
    @media (min-width: 320px) and (max-width: 768px) {
        #gotoTop{
            width: 65px;
            height: 65px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        #hot-line{
            width: 65px;
            height: 65px;
            position: fixed;
            bottom: 40%;
            right: 3px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}