[hidden],
.d-none,
.hidden {
    display: none !important;
}

body {
    &.noscroll {
        overflow: hidden;
    }
}

.ofcv {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover, object-position: center';
    background-size: cover;
}

.m100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-5{
 margin-bottom: 50px;
}
.mt-5{
    margin-top: 50px;
}
.mt-2{
    margin-top: 20px;
}
.mb-2{
    margin-bottom: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-1{
    margin-bottom: 10px;
}
.p0{
    padding: 0 !important;
}
.ml-2{
    margin-left: 20px;
}
.ofct {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain, object-position: center';
    background-size: contain;
}

.dekstop {
    @media (max-width: 1024px) {
        display: none;
    }
}

.mobile {
    @media (min-width: 1025px) {
        display: none;
    }
}

.blur-up {
    filter: blur(10px);
    transition: filter 1s;
    &.lazy-loaded {
        filter: blur(0);
    }
}
.title-section{
    float: left;
    width: 100%;
    padding: 1%;
    text-align: center;
    z-index: 1;
    h1{
        font-size: 30px;
        font-weight: 500;
        color: $main_color;
    }
}
.text-line{
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        width: 78%;
        height: 2px;
        background-color: #c1c1c1;
        top: 47%;
        left: 22%;
    }
    p{
        font-size: 11px;
        font-weight: 700;
        color: #c1c1c1;
        letter-spacing: 7px;
    }
}