section#i-5.i-5.m100
    .container
        .row
            .title-section.col-12
                h1 CƠ SỞ - HẠ TẦNG
            .text-line.col-md-12
                p WORLDWIDE HOSPITAL
            .content.col-md-10.col-12
                .list-item.mt-5.mb-100
                    .row
                        .col-md-7.col-12
                            .col-md-12.mb-3.col-12.p0
                                .item-left.col-12.p0
                                    img(src="./assets/images/i-5/item-01.png" alt="")
                            .col-md-12.col-12.p0
                                .item-left.col-12.p0
                                    img(src="./assets/images/i-5/item-02.png" alt="")
                        .col-md-5.col-12
                            .item-right
                                img(src="./assets/images/i-5/item-03.png" alt="")
