section#i-5.i-5.m100
    .container
        .row
            .title-section
                h1 CƠ SỞ - HẠ TẦNG
            .text-line
                p WORLDWIDE HOSPITAL
            .content.col-md-10
                .list-item.mt-5.mb-100
                    .row
                        .col-md-7
                            .col-md-12.mb-3
                                .item-left
                                    img(src="./assets/images/i-5/item-01.png" alt="")
                            .col-md-12
                                .item-left
                                    img(src="./assets/images/i-5/item-02.png" alt="")
                        .col-md-5
                            .item-right
                                img(src="./assets/images/i-5/item-03.png" alt="")
